@model pbadraH60A01.Models.Product
@{
    ViewData["Title"] = $"Edit {Model.Description}'s buy Price | Boatbud";
}

<h2 class="text-center">Edit the @Model.Description's buy price</h2>
<div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <form asp-controller="Products" asp-action="EditBuyPrice" class="shadow-sm overflow-hidden rounded-3 p-4 bg-light">
        <div class="form-floating mb-3">
            <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            <input type="hidden" asp-for="Description" value="@Model.Description" />
            <input type="hidden" asp-for="SellPrice" value="@Model.SellPrice" />
            <input asp-for="BuyPrice"
                   class="form-control @(ViewData.ModelState["BuyPrice"]?.Errors.Count > 0 ? "is-invalid" : "")"
                   id="floatingInput"
                   placeholder="Buy Price"
                   pattern="^\d+(\.\d+)?$">
            <label asp-for="BuyPrice" for="floatingInput"></label>
            <div class="invalid-feedback">
                @Html.ValidationMessageFor(model => model.BuyPrice)
            </div>
        </div>
        <div class="d-flex d-md-flex align-items-center justify-content-end gap-2 flex-column flex-md-row">
            <input type="submit" value="Confirm" class="btn btn-primary">
            <a type="button" asp-action="Index" asp-controller="Products" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
